@tailwind base;
@tailwind components;
@tailwind utilities;

.titleFox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.titleFox button {
    background-color: #000;
    color: #fff;
    padding: 20px 50px;
    border-radius: 50px;
    margin-top: 30px;
}
.gridFoxes {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(3, 1fr);
}
